---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings?: Heading[];
}

const { headings = [] } = Astro.props;
const visibleHeadings = headings.filter((heading) => heading.depth <= 2);
---
{visibleHeadings.length > 0 && (
  <aside class="toc" aria-label="Table of contents">
    <h3>On this page</h3>
    <ul>
      {visibleHeadings.map((heading) => (
        <li><a href={`#${heading.slug}`}>{heading.text}</a></li>
      ))}
    </ul>
  </aside>
)}
